<Modules>
	<Module Id="ab51be1f-79ed-4b12-bb0c-32f65b12129f" Name="VGUser" Active="True" Path="Novalys.VisualGuard.WebConsole.dll" />
	<Module Id="d8f14e4d-eb02-40aa-a4e4-7bec9c5ddfd8" Name="VGGroup" Active="True" Path="Novalys.VisualGuard.WebConsole.dll" />
	<Module Id="b88d112a-c7b6-4a0c-8227-2329cf980ce3" Name="VGRole" Active="True" Path="Novalys.VisualGuard.WebConsole.dll" />
	<Module Id="225919b9-95b9-4c14-9700-a58d80d5521a" Name="VGApplication" Active="True" Path="Novalys.VisualGuard.WebConsole.dll" />
	<Module Id="de4ff988-b654-46ff-b391-3bb4f0671161" Name="VGEventViewer" Active="True" Path="Novalys.VisualGuard.WebConsole.dll" />
	<Module Id="df647d27-7eec-4500-9f84-34edc426818e" Name="VGMonitoring" Active="True" Path="Novalys.VisualGuard.WebConsole.dll" />
	<Module Id="f6637548-5c73-4d75-8233-ef49a1153843" Name="VGBackgroundServer" Active="True" Path="Novalys.VisualGuard.WebConsole.dll" />
	<Module Id="ac86fea5-83d9-49ba-817a-6f6fa9f7f843" Name="VGSetting" Path="Novalys.VisualGuard.WebConsole.dll" Active="True" />
	<Module Id="c5b19e6d-378a-40f2-92ed-425961c83515" Name="VGWorkflow" Path="Novalys.VisualGuard.WebConsole.dll" Active="True" />
</Modules>