
.icon-fa-vcard:before { content: '\e801'; } /* '' */
.icon-fa-permission-set:before { content: '\e803'; } /* '' */
.icon-fa-roles-1:before { content: '\e804'; } /* '' */
.icon-fa-roles:before { content: '\e80e'; } /* '' */
